
/* variables declaration*/
:root
{
    --primary-bg-color:black;
    --secondary-bg-color:#f4f5f7;
    --tertiary-bg-color:#0a131e; 

    --primary-txt-color:black;
    --secondary-txt-color:white;
    --special-txt-color:#ff0099;

    --primary-btn-bg-color:#ff0099;
    --secondary-btn-bg-color:#f4f4f4;
}

/*CSS reset*/
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*GENERAL CSS*/

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:2;
    letter-spacing: 1.5px;
    text-align: justify;
    text-justify: inter-word;
    background-color: var(--secondary-bg-color);
}

/*UTILITIES  CLASSES*/

a
{
    text-decoration: none;
}

p
{
    margin-bottom: 30px;
}

.container
{
    max-width: 1100px;
    width:90%;
    margin:0 auto;
}

/*********************HEADER *******************/
header
{
    color:var(--secondary-txt-color);
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-weight: 800;
    position:fixed;
    width: 100vw;
}

header img
{
    max-width:80px;
    height:auto;
    margin: 16px 0 0 30px;
    cursor: pointer;
}


/************************NAV *******************/

header>nav
{
    justify-self: right;
    margin:16px 30px;
}

nav li
{
    display: inline;
    padding:36px 24px;
    justify-self: right;
    cursor: pointer;
}

header nav li a, header div li a
{
    color:var(--secondary-txt-color);
}

header nav li a:hover, header div li a:hover
{
    color: var(--special-txt-color);
}

#header-light nav li a, #header-light div li a 
{
    color:#bdc3c7;
}

#header-light nav li a:hover, #header-light div li a:hover
{
    color: var(--special-txt-color);
}

.active
{
    color: var(--special-txt-color);
}

.mobile-icon
{
    display:none;
}

/************************INTRO *******************/

#introduction
{
    /*background-color: var(--tertiary-bg-color);*/
    display:grid;
    grid-template-columns: 1fr 1fr;
    height:100vh;
    justify-items: center;
    align-items: center;
    margin-bottom: 0px;
    padding:120px;
}

video
{
    position:absolute;
    right:0;
    bottom:0;
    width:100vw;
    height:100%;
    object-fit: cover;
    z-index:-1;
}

.video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}

#introduction>div:nth-child(1)
{
    color:white;
}

.text-rotator
{
    color:var(--special-txt-color);
}


#introduction > div 
{
    font-size:2rem;  
    text-align: left;
    line-height:1.5;
}

#introduction button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

#introduction button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}

/************************ABOUT*******************/

#about-me
{
    background-color:var(--tertiary-bg-color);
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    align-items: center;
    padding: 100px;
    margin: 0px 0px;
}

#about-me h2
{
    font-size: 3rem;
    color:var(--secondary-txt-color);
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color:var(--special-txt-color);
}

#about-me h3
{
    color: var(--secondary-txt-color);
    margin-left: 15%;
}

#about-me p
{
    font-size: 1rem;
    color:var(--secondary-txt-color);
}

#about-me i
{
    font-size:3rem;
    color:var(--secondary-btn-bg-color);
}

#about-me img
{
        max-width:400px;
        height:auto;  
}

#about-me img:hover
{
    content: url("../img/portfolio-img-hover.png");
}

#social-links li
{
    display: inline-block;
    padding: 0 30px 0 0;
}

#social-links i:hover
{
    color: var(--primary-btn-bg-color);
}

.here-link
{
    color:var(--special-txt-color);
    font-weight:600;
    cursor: pointer;
}

/***********************TOOLKIT*******************/
#tool-kit
{
    display: grid;
    grid-template-columns: 1fr;
    padding: 100px;
    background-color: var(--tertiary-bg-color);
    align-items: center;
    justify-items: center;
    margin-bottom: 0px;
}

#tool-kit h2
{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color:var(--special-txt-color);
    color: var(--secondary-bg-color);
}

#tool-kit>div
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    row-gap: 15px;
    justify-items: center;
    text-align: center;
    color: var(--secondary-bg-color);
}


#tool-kit i, .toolkit-icon
{
    font-size:3rem;
    color:var(--secondary-bg-color);
    padding-top: 5px;
}

#tool-kit i:hover, .toolkit-icon:hover
{
    color:var(--special-txt-color);
}

#tool-kit p
{
    margin-top:30px;
    margin-top: 5px;
}

#tool-kit button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

#tool-kit button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}

/************************PROJECTS*******************/
#projects
{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--tertiary-bg-color);
    color: var(--secondary-bg-color);
    padding: 100px;
    margin-bottom: 0px;
    height:100vh;
}

#projects h2
{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color:var(--special-txt-color);
}

.projects-carousel
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    justify-items: center;
    align-items: center;
    width:80vw;
    margin-bottom: 20px;
}

#projects img
{  
    width:400px;
    height:auto;
}

.icons
{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 3rem;
}

.prev
{
    cursor: pointer;
    position: absolute;
    font-size:3rem;
    color:var(--secondary-bg-color);
    transition: 0.6s ease;
    user-select: none;
    display:grid;
    align-items: center;
    left: 40%;
    
}

.next 
{
    cursor: pointer;
    position: absolute;
    font-size:3rem;
    color:var(--secondary-bg-color);
    transition: 0.6s ease;
    user-select: none;
    display:grid;
    align-items: center;
    right:40%;
}

.prev:hover, .next:hover 
{
    color: var(--primary-btn-bg-color);    
}

#projects button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
}

#projects button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}

/************************CONTACT ME*******************/
#contact-me
{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width:100vw;
    height:95vh;
    padding: 100px;
    background-color: var(--tertiary-bg-color);
    margin-bottom: 0px;
}

#contact-me h2
{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color:var(--special-txt-color);
    margin-bottom: 15px;
    color:var(--secondary-txt-color);
}

#contact-me i
{
    font-size:3rem;
    color:var(--secondary-txt-color);
    padding-bottom: 30px;
}

.c-info
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    color:var(--secondary-txt-color);
}

.c-info>div:nth-child(2)>div
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
}

#contact-me form
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#contact-me input
{
    width: 450px;
    height:30px;
    margin-bottom: 15px;
    padding-left: 10px;
    color:var(--primary-txt-color);
}

#contact-me textarea
{
    width:450px;
    height:150px;
    margin-bottom: 5px;
    padding: 5px 0 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contact-me button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    
}

#contact-me button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}

/************************FOOTER*******************/
footer
{
    background-color:var(--secondary-bg-color);
    color: var(--primary-txt-color);
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    font-weight: 550;
    height:5vh;
}


/*****************MEDIA QUERIES******************/
/*/ Extra small devices (portrait phones, less than 576px)/*/
@media (max-width: 575.98px) 
{ 
    #introduction, #about-me, .c-info
    {
        grid-template-columns: 1fr;
    }

    #introduction > div, #about-me div:nth-child(2), .c-info, #projects, #contact-me
    {
        font-size:1rem;  
        text-align: center;
        justify-items: center;
        line-height:1.5;
    }

    #tool-kit>div
    {
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        text-align: center;
    }

    #tool-kit h2
    {
        text-align: center;
    }

    #contact-me input
    {
        width: 100%;
        height:30px;
    }

    #contact-me textarea
    {
        width:100%;
        height:150px;

    }
}

/*/ Small devices (landscape phones, less than 768px)/*/
@media (max-width: 768px) 
{
   
}

/*/ Medium devices (tablets, less than 992px)/*/

@media (max-width: 991.98px) 
{
    .navigation
    {
        display:none;
    }

   
    .mobile-navigation
    {
        font-size:1rem;
        padding:8px 24px;
    }

    .mobile-icon
    {
        color:var(--secondary-bg-color);
        font-size:3rem;
        cursor:pointer;
        top:0;
        right:0;
        position:absolute;
        display:block;
        margin:15px 30px;
    }

    nav ul
    {
        display: grid;
        grid-template-columns: 1fr;
        position: fixed;
        top:100px;
        right:0;
        width:100vw;
        height:90%;
        background:var(--tertiary-bg-color);
        opacity:1;    
    }

    #introduction, .c-info
    {
        grid-template-columns: 1fr;
        padding:120px 60px 60px 60px;
    }


    #introduction > div, #projects, .c-info, #contact-me
    {
        text-align: center;
        line-height:1.5;
    }

    #about-me
    {
        grid-template-columns: 1fr;
        padding: 120px 60px 60px 60px;
        justify-items: center;
    }

    #about-me h2
    {
        font-size: 2rem;
        text-align: center;
    } 
    
    #about-me div:nth-child(2)
    {
        width:100%;
        height:100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
        
    #about-me p
    {
        font-size: 1rem;
        text-align: center;
    }

    #about-me i
    {
        font-size:2.5rem;
        color:var(--secondary-btn-bg-color);
    }

    #social-links
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 5px;
        justify-items: right;
    }  

    #projects
    {
        height:100%;
        margin-bottom: 0px;
    }

    .projects-carousel
    {
        grid-template-columns: 1fr;
        
    }

    .prev
    {
        left: 5%;
    }

    .next 
    {
        right:5%;
    }

    #contact-me
    {
        height:100%;
        margin-bottom: 0px;
    }


    #contact-me input
    {
        width: 100%;
        height:30px;
    }

    #contact-me textarea
    {
        width:100%;
        height:150px;
    }

    .c-info>div:nth-child(2)>div
    {
        justify-items: center;
    }


}

/*/ Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) 
{  
    
}