
/* variables declaration*/
:root
{
    --primary-bg-color:black;
    --secondary-bg-color:#f4f5f7;
    --tertiary-bg-color:#0a131e; 

    --primary-txt-color:black;
    --secondary-txt-color:white;
    --special-txt-color:#ff0099;

    --primary-btn-bg-color:#ff0099;
    --secondary-btn-bg-color:#f4f4f4;
}

/*CSS reset*/
*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*GENERAL CSS*/

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    letter-spacing: 1.5px;
    text-align: justify;
    text-justify: inter-word;
    background-color: black;
    cursor: default;
}

/*UTILITIES  CLASSES*/

a
{
    text-decoration: none;
}

p
{
    margin-bottom: 30px;
}

.container
{
    max-width: 1100px;
    width:90%;
    margin:0 auto;
}

button
{
    font-size: 1rem;
    box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0.4)
}

.page-not-found
{
    background-image: url(../img/404.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items:RIGHT;
    padding-right:5%;
}

.page-not-found button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

.page-not-found button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}

.page-not-found>div
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}

.page-not-found>div>div>h1
{
    color:#ff0099;
    font-size: 10rem;
}

.page-not-found>div>div>p
{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}




/*********************HEADER *******************/
header
{
    color:var(--secondary-txt-color);
    display:grid;
    grid-template-columns: 1fr 3fr ;
    font-weight: 800;
    position:fixed;
    width: 100vw;
}

header img
{
    max-width:80px;
    height:auto;
    margin: 16px 0 0 32px;
    cursor: pointer;
}


/************************NAV *******************/

header>nav
{
    justify-self: right;
    margin: 16px 30px;
}

nav li
{
    display: inline;
    padding:36px 24px;
    justify-self: right;
    cursor: pointer;
}

header nav li a, header div li a
{
    color:var(--secondary-txt-color);
}

header nav li a:hover, header div li a:hover
{
    color: var(--special-txt-color);
}

#header-light nav li a, #header-light div li a 
{
    color:#bdc3c7;
}

#header-light nav li a:hover, #header-light div li a:hover
{
    color: var(--special-txt-color);
}

.active
{
    color: var(--special-txt-color);
}

.mobile-navigation
{
    display:none;
}

.nav-icon
{
    display:none;
}

/************************INTRO *******************/

#introduction
{

    display:grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    margin-bottom: 0px;
    padding:100px;
}

video
{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    object-fit: cover ;
    transition: 1s opacity;
    z-index:-100;
}

.video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}


#introduction>div:nth-child(1)
{
    color:white;
}

.text-rotator
{
    color:var(--special-txt-color);
}


#introduction > div 
{
    font-size:2rem;  
    text-align: left;
    line-height:1.5;
}

#introduction button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

#introduction button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}


.intro-media img
{
    height:400px;
    width:auto;
}

/************************ABOUT*******************/

#about-me
{
    background-color:var(--tertiary-bg-color);
    display:grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding: 10%;
    margin: 0px 0px;
    min-height:100vh;
    margin:30px 30px 0px 30px;
}

#about-me h2
{
    font-size: 3rem;
    color:var(--secondary-txt-color);
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color:var(--special-txt-color);
}

#about-me h3
{
    color: var(--secondary-txt-color);
    margin-left: 15%;
}

#about-me p
{
    font-size: 1rem;
    color:var(--secondary-txt-color);
}

#about-me i
{
    font-size:3rem;
    color:var(--secondary-btn-bg-color);
}

#about-me img
{
    max-width:400px;
    height:auto;  
    width:auto;
    border: 0.5rem solid transparent;
}


#social-links li
{
    display: inline-block;
    padding: 0 30px 0 0;
}

#social-links i:hover
{
    color: var(--primary-btn-bg-color);
}

.here-link
{
    color:var(--special-txt-color);
    font-weight:600;
    cursor: pointer;
}

/***********************SERVICES*******************/
#services
{
    
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    justify-items: center;
    align-items: center;
    color: var(--secondary-bg-color);
    margin-bottom: 0px;
    padding-top:100px;
    padding-bottom: 100px;
    min-height:100vh;
    margin:30px 30px 0px 30px;
}

#services h2
{
    font-size: 3rem;
    color:var(--secondary-txt-color);
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color:var(--special-txt-color);
}

#services>div:nth-child(2)
{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;   
    height:100%;
}

#services>div:nth-child(2)>div
{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 10% 60%;
    row-gap: 2px;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #f4f5f7;
    color:var(--primary-txt-color);
    height:100%;
    width:20vw;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 10px;
    cursor: default;
}

#services>div:nth-child(2)>div:hover, #services>div:nth-child(2)>div:hover .services-icon, #services>div:nth-child(2)>div:hover .services-icon2 
{
    background-color: var(--primary-btn-bg-color);
    color:var(--secondary-bg-color);
}

.services-icon
{
    font-size: 6rem;
    color:var(--primary-txt-color);
}

.services-icon2
{
    font-size: 4.5rem;
    color:var(--primary-txt-color);
}

#services button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 100%;
    height:100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin-top:15px;
}

#services button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}

/***********************TOOLKIT*******************/
#tool-kit
{
    display: grid;
    grid-template-columns: 1fr;
    padding: 80px;
    background-color: var(--tertiary-bg-color);
    align-items: center;
    justify-items: center;
    margin-bottom: 0px;
    min-height:100vh;
    margin:30px 30px 0px 30px;
    
}

#tool-kit h2
{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color:var(--special-txt-color);
    color: var(--secondary-bg-color);
}

#tool-kit>div
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 50px;
    row-gap: 15px;
    justify-items: center;
    text-align: center;
    color: var(--secondary-bg-color);
}


#tool-kit i, .toolkit-icon
{
    font-size:3rem;
    color:var(--secondary-bg-color);
    padding-top: 5px;
}

#tool-kit i:hover, .toolkit-icon:hover
{
    color:var(--special-txt-color);
}

#tool-kit p
{
    margin-top:30px;
    margin-top: 5px;
}

#tool-kit button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}

#tool-kit button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}

/************************PROJECTS*******************/
#projects
{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--tertiary-bg-color);
    color: var(--secondary-bg-color);
    padding: 10%;
    padding-bottom: 80px;
    min-height:100vh;
    margin:30px 30px 0px 30px;
}

#projects h2
{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color:var(--special-txt-color);
}

.projects-carousel
{
    display: grid;
    grid-template-columns: 10px 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    width:80vw;
    height:60vh;
}

.projects-carousel>div:nth-child(3)
{
    height:80%;
    width:40vw;
}

.projects-carousel>div:nth-child(3)>div:nth-child(2)>div
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
}

.projects-carousel>div:nth-child(3)>div:nth-child(2) p
{
    display: grid;
    grid-template-columns: 100px 20px;
    justify-items: center;
}

.status-icon
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
    padding-left: 10px;
    font-size: 2rem;
    color:yellow;
}


#projects img
{  
    width:400px;
    height:auto;

}

.icons
{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 3rem;
}

.icons p
{
    margin-bottom: 0px;
}

.prev
{
    cursor: pointer;
    position: absolute;
    font-size:3rem;
    color:var(--secondary-bg-color);
    transition: 0.6s ease;
    user-select: none;
    display:grid;
    align-items: center;
    padding:5px;
    left: 30px;
}

.next 
{
    cursor: pointer;
    position: absolute;
    font-size:3rem;
    color:var(--secondary-bg-color);
    transition: 0.6s ease;
    user-select: none;
    display:grid;
    align-items: center;
    padding:5px;
    right:30px;
}

.prev:hover, .next:hover 
{
    color: var(--primary-btn-bg-color);    
}

.carousel-arrows
{
    z-index: 1;
}

#projects button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

#projects button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}


/************************CONTACT ME*******************/
#contact-me
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    width:100vw;
    min-height:95vh;
    padding: 10%;
    background-color: var(--tertiary-bg-color);
    margin-bottom: 0px;
    margin:30px 0px 0px 0px;
}

#contact-me h2
{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-thickness: 0.4rem;
    text-decoration-color:var(--special-txt-color);
    color:var(--secondary-txt-color);
}

#contact-me i
{
    font-size:3rem;
    color:var(--secondary-txt-color);
    padding-bottom: 30px;
}

.c-info
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    color:var(--secondary-txt-color);
}

.c-info>div:nth-child(2)>div
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: left;
}

#contact-me form
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#contact-me input
{
    width: 450px;
    height:30px;
    margin-bottom: 15px;
    padding-left: 10px;
    color:var(--primary-txt-color);
}

#contact-me textarea
{
    width:450px;
    height:150px;
    margin-bottom: 5px;
    padding: 5px 0 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error
{
    color: red;
    
}

#contact-me button
{
    background-color: var(--primary-btn-bg-color);
    border-style: solid ;
    border-color: var(--primary-btn-bg-color);
    color: var(--secondary-txt-color);
    font-weight: 600;
    width: 140px;
    height:40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    
}

#contact-me button:hover
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    border-style: solid ;
    border-color: var(--tertiary-bg-color);
}

.form-input
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/************************FOOTER*******************/
footer
{
    background-color:var(--secondary-bg-color);
    color: var(--primary-txt-color);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    min-height: 5vh;
    padding:0;
}

footer>p
{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    font-weight: 550;
    height: 100%;
    margin-bottom: 0;
    text-align: center;
    line-height: 1;
}


/*****************MEDIA QUERIES******************/

/*/ Medium devices (tablets, less than 992px)/*/

@media (max-width: 991.98px) 
{
    .navigation
    {
        display:none;
    }

    header img
    {
        height:70%;
        width:50%;
        margin: 16px 0 0 32px;
    }

    .bg-video
    {
        display:none
    }

    #introduction
    {
        background-color: black;
    }

    .mobile-icon
    {
        color:var(--secondary-bg-color);
        font-size:3rem;
        cursor:pointer;
        top:0;
        right:0;
        position:absolute;
        display:block;
        margin:15px 32px;
        z-index:999;  
    }

    .mobile ul
    {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,15%);
        text-align: center;
        justify-items: center;
        background:var(--tertiary-bg-color);
        top:0;
        right:0;
    }

    .mobile ul li
    {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;        
       
    }

    .mobile-navigation
    {
        display:grid;
        grid-template-columns: 1fr;
        text-align: center;
        justify-items: center;
    }

    .nav-icon
    {
        color:var(--secondary-bg-color);
        font-size:3rem;
        cursor: pointer;
        display:block;
        top:0;
        left:0;
    }
 
    nav ul 
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-area: center;
        align-items: center;
        position: fixed;
        width:100%;
        height:100%;
        padding: 15% 1%;
        z-index: 998;
    }


    #introduction, .c-info
    {
        grid-template-columns: 1fr;
        padding:120px 60px 60px 60px;
    }


    #introduction > div, #projects, .c-info, #contact-me
    {
        text-align: center;
        line-height:1.5;
    }

    #about-me
    {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 10%;
        margin:0px 0px 0px 0px;
    }

    #about-me>div:nth-child(1)
    {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #about-me img
    {
        height:auto;
        width:auto;
    }

    #about-me h2, #services h2, #tool-kit h2, #projects h2, #contact-me h2
    {
        font-size: 2rem;
        text-align: center;
    } 
    
    #about-me div:nth-child(2)
    {
        width:100%;
        height:100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
        
    #about-me p
    {
        font-size: 1rem;
        text-align: center;
    }

    #about-me i
    {
        font-size:2.5rem;
        color:var(--secondary-btn-bg-color);
    }

    #social-links
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        column-gap: 5px;
        justify-items: right;
    }  
    #services
    {
        margin:0px 0px 0px 0px;
    }


    #services>div:nth-child(2)
    {
        grid-template-columns: 1fr;
        row-gap: 30px;
        column-gap: 0;
        justify-items: center;
        align-items: center;
    }

    #services>div:nth-child(2)>div
    {
        grid-template-rows: 1fr 1fr;
        max-width: 450px;
        height:100%;   
        width:70%;
    }

    #tool-kit
    {
        padding:0;
        padding-bottom: 80px;
        padding-top: 80px;
        margin:0px 0px 0px 0px;
    }
    
    #tool-kit>div
    {
        grid-template-columns: repeat(3,1fr);
        column-gap: 10px;
        padding:4%;
    }

    #projects
    {
        height:100%;
        margin-bottom: 0px;
        padding:0;
        padding-top:80px;
        padding-bottom: 80px;
        z-index: 1;
        margin:0px 0px 0px 0px;
    }

    .projects-carousel
    {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        width: auto;
        height: auto;
    }

    #projects h2
    {
        padding-bottom: 0px;
    }

    .projects-carousel>div:nth-child(3)>div:nth-child(2)>div
    {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .projects-carousel>div:nth-child(3)>div:nth-child(2) p
    {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .icons
    {
        grid-template-columns: repeat(4,1fr);
    }

    .icons p
    {
        margin-bottom: 0;
        line-height: 0;
    }

    #projects img
    {
        height:auto;
        width:65%;
    }

    .prev
    {
        margin-top:50%;
        margin-left:10%;
    }

    .next 
    {
        margin-top:50%;
        margin-right:10%;
    }

    #contact-me
    {
        height:100%;
        width:100%;
        margin-bottom: 0px;
        padding:1;
        justify-items: center;
        margin:0px 0px 0px 0px;
    }


    #contact-me input
    {
        width: 60vw;
        height:5vh;
    }

    #contact-me textarea
    {
        width:60vw;
        height:20vh;
    }

    .c-info
    {
        padding: 10%;
        padding-top: 3%;

    }

    .c-info>div:nth-child(2)>div
    {
        justify-items: center;
    }

    footer
    {
        height:35px;
    }

}

/*/ Extra small devices (portrait phones, less than 576px)/*/
@media (max-width: 575.98px) 
{   

    #introduction
    {
        min-height:100vh;    

    }

    #introduction, #about-me, .c-info
    {
        grid-template-columns: 1fr;
    }

    #introduction > div, #about-me div:nth-child(2), .c-info, #projects, #contact-me
    {
        font-size:1rem;  
        text-align: center;
        justify-items: center;
    }
    .intro-media img
    {
        height:200px;
        width:auto;
    }
    #about-me
    {
        margin:0px 0px 0px 0px;
    }


    #about-me img
    {
        max-width: 200px;
        padding:0;
    }

    #services

    {
        margin:0px 0px 0px 0px;
    }

    #tool-kit
    {
        margin:0px 0px 0px 0px;
    }

    #projects 
    {
        margin:0px 0px 0px 0px;
    }

    #projects h2
    {
        margin-bottom: 0px;
    }

    #projects img
    {
        height:auto;
        width:50%;
    }

    #tool-kit h2
    {
        text-align: center;
    }

    #contact-me 
    {
        padding:0;
        padding-top: 100px;
        margin:0px 0px 0px 0px;
    }


    #contact-me input
    {
        width: 60vw;
        height:5vh;
    }

    #contact-me textarea
    {
        width:60vw;
        height:20vh;
    }
}
